@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  @keyframes moveUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes moveUpBtn {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    50% {
      transform: translateY(50%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .animate-moveUp {
    animation: moveUp 1s ease-out;
  }
  .animate-moveUp-btn {
    animation: moveUpBtn 1.5s ease-out;
  }
}
@layer base {
  @font-face {
    font-family: "poppins";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Poppins-Regular.ttf) format("ttf");
  }
  @font-face {
    font-family: "poppins";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/Poppins-Bold.ttf) format("ttf");
  }
  @font-face {
    font-family: "poppins";
    font-style: normal;
    font-weight: 500;
    src: url(/fonts/Poppins-Medium.ttf) format("ttf");
  }
  @font-face {
    font-family: "poppins";
    font-style: normal;
    font-weight: 300;
    src: url(/fonts/Poppins-Light.ttf) format("ttf");
  }
}
